<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPwdForm" (submit)="resetUserPwd()" novalidate>
    <ion-item>
      <div class="item-note" item-start>
        <ion-icon name="at" color='primary'></ion-icon>
      </div>
      <ion-input formControlName="email" type="email" placeholder="Email" [class.invalid]="!resetPwdForm.controls.email.valid && resetPwdForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPwdForm.controls.email.valid  && resetPwdForm.controls.email.dirty"
      no-lines>
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button center-all block type="submit" color="danger" [disabled]="!resetPwdForm.valid">Reset
            Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
